<div class="comments">
    <!--access comments array with "this"-->
    {{#each this}}
    <section class="comment">
        <div class="comment-text">
            {{comment_text}}
        </div>
        <div class="meta">
                                <!--helper for date formatting-->
            Posted by {{user.username}} on {{format_date createdAt}}
        </div>
    </section>
    {{/each}}
</div>