<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>    

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            <!--only show logout link to logged in users-->
            {{#if loggedIn}}
            <div id="logout">
                <a href="/">Log Out</a>
            </div>
            {{else}}
            <a href="/login">Log In</a>
            {{/if}}
        </nav>
        <div id="heading">
            <h1>The Tech Blog</h1>
        </div>
    </header>

    <main>
        {{{ body }}}
    </main>


    <!--only needed if logged in-->
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>