<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>    

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/">Dashboard</a>
            <a href="/login">Log In</a>
            <div id="logout">
                <a href="/">Log Out</a>
            </div>
        </nav>
        <div id="heading">
            <h1>The Tech Blog</h1>
        </div>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        Thanks for visiting!
    </footer>

    <script src="/javascript/logout.js"></script>

</body>

</html>