<!--partial to display posts-->
{{> post-info post }}

<!--only logged in users can see this-->
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

<!--partial for displaying comments-->
{{> comments post.comments}}

<!--only needed for logged in users-->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}