header {
    background-color: darkgray;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:50px;
}