:root {
    --primary-color: #05595B;
    --secondary-color: #E2D784;
    --tertiary-color: #062C30;
    --quaternary-color: #F5F5F5;
}

* {
    margin: 0;
}

body {
    background-color: var(--primary-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--secondary-color);
    height: 175px;
}

#heading {
    background-color: var(--tertiary-color);
    box-sizing:border-box;
    width: 400px;
    height: 80px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 7px 7px var(--primary-color);
}

h1 {
    color: var(--quaternary-color);
    font-size: 40px;
    margin-left: 25px;
    margin-top: 10px;
    padding: 10px;
}

nav a {
    margin-left: 30px;
    font-weight: bold;
    color: var(--primary-color);
}

a {
    font-size: 25px;
    padding: 10px;
    color: var(--quaternary-color);
    text-decoration: none; 
    display: inline-block; 
}

#logout {
    display: inline;
}

/*homepage*/
.post {
    margin: 40px;
    height: 140px;
    background-color: var(--secondary-color);
    border: 3px solid var(--tertiary-color);
}

p {
    background-color: var(--tertiary-color);
}

.meta {
    font-size: 15px;
    float: right;
    margin-right: 10px;
}

.meta a {
    font-size: 15px;
}

span, .meta {
    color: var(--tertiary-color);
}

span {
    margin: 10px;
}

/*login/signup page*/
.login-form, .signup-form {
    margin-left: 20px;
    padding: 20px;
    color: var(--secondary-color);
}

button {
    background-color: var(--tertiary-color);
    color: var(--quaternary-color);
    font-size: 20px;
}

/*dashboard*/
h2, .new-post-form {
    margin-left: 40px;
    padding: 10px;
    color: var(--tertiary-color);
}

#post-title {
    width: 50%;
    margin: 10px;
    height: 25px;
}

textarea {
    height: 100px;
    width: 50%;
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: -30px;
}

.edit-btn {
    float: right;
    font-size: 18px;
}

/*single post*/
.comment-form {
    margin: 40px;
}

/*comments*/
.comment {
    margin: 40px;
    height: 60px;
    background-color: var(--secondary-color);
    border: 3px solid var(--tertiary-color);
}

.comment-text {
    padding: 10px;
}

h3 {
    color: var(--tertiary-color);
    margin-left: 40px;
    font-size: 25px;
}

/*edit post*/
.edit-post {
    margin-left: 40px;
}